{% extends "::base.html.twig" %}

{% block title %}Formulaire de formation{% endblock %}

{% block body %}
<div class="container">
	{{ form_start(form) }}
		<div class="row">
			<div class="form-group">
				{{ form_row(form.name) }}
			</div>
			<div class="form-group">
				{{ form_row(form.baseline) }}
			</div>
			<div class="form-group">
				{{ form_row(form.urlImage) }}
			</div>
			<div class="form-group">
				{{ form_row(form.modules) }}
			</div>
		</div>
		<div class="form-group row">
				<a href="{{ path('listFormation') }}" class="btn btn-danger">Annuler</a>
				{{ form_row(form.save) }}
		</div>
	{{ form_end(form) }}
</div>
{% endblock %}
