{% extends "::base.html.twig" %}

{% block title %}Formulaire de d'un module{% endblock %}

{% block body %}
<div class="container">
	{{ form_start(form) }}
		<div class="row">
			<div class="form-group">
				{{ form_row(form.name) }}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{ form_row(form.formations) }}
			</div>
		</div>
		<div class="row">
				<a href="{{ path('listModule') }}" class="btn btn-danger">Annuler</a>
				{{ form_row(form.save) }}
		</div>
	{{ form_end(form) }}
</div>
{% endblock %}
