{% extends "::base.html.twig" %}

{% block title %}Formulaire de d'un module{% endblock %}

{% block body %}
<div class="container">
			<div class="row">
				<div class="col">
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="{{ path('homepage')}}" class="nav-link"><i class="fa fa-home"></i></a></li>
						<li class="nav-item"><a href="#" class="nav-link">Nouvelle categorie</a></li>
					</ul>
				</div>
			</div>
	<h1>Ajouter une catégorie</h1>
	{{ form_start(form) }}
		<div class="row">
			<div class="form-group">
				{{ form_row(form.name) }}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{ form_row(form.slug) }}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{ form_row(form.name) }}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{ form_row(form.books) }}
			</div>
		</div>
		<div class="row">
				<a href="{{ path('listCategory') }}" class="btn btn-danger">Annuler</a>
				{{ form_row(form.save) }}
		</div>
	{{ form_end(form) }}
</div>
{% endblock %}
